# Data Science Project: [Project Title]

**Author**: Samer Eladad

**Entry Date**: 18.02.

In [6]:
import pandas as pd

# Define the paths to your datasets
amazon_prime_path = '/Users/samer/Documents/github_repos/StreamSelect/OTT_SUGGESTER/data/raw/raw_amazon_prime.csv'
disney_plus_path = '/Users/samer/Documents/github_repos/StreamSelect/OTT_SUGGESTER/data/raw/raw_disney_plus.csv'
netflix_path = '/Users/samer/Documents/github_repos/StreamSelect/OTT_SUGGESTER/data/raw/raw_netflix.csv'
imdb_path = '/Users/samer/Documents/github_repos/StreamSelect/OTT_SUGGESTER/data/raw/raw_imdb.csv'

# Import the datasets into pandas DataFrames
amazon_prime_df = pd.read_csv(amazon_prime_path)
disney_plus_df = pd.read_csv(disney_plus_path)
netflix_df = pd.read_csv(netflix_path)
imdb_df = pd.read_csv(imdb_path)

In [9]:
# Display Netflix Dataset column names
print("\nNetflix column names:")
print(netflix_df.columns.tolist())

Netflix column names:
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [10]:
# Display IDMB Movies Dataset column names
print("\nIMDB Movies column names:")
print(imdb_df.columns.tolist())

IMDB Movies column names:
['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross']

### First task: Analyze the Netflix dataset

**Challenge 1**: Not all required information can be found on the Netflix DS</br>
**Solution**: We will use a new DS 'IMDB Movies Dataset' and join on Movie names.

In [3]:
'''
-- Select all Netflix Movies
SELECT Netflix.title
FROM Netflix
WHERE Netflix.type = 'Movie' 
'''
# There are 6131 movies in the Netflix database

"\n-- Select all Netflix Movies\nSELECT Netflix.title\nFROM Netflix\nWHERE Netflix.type = 'Movie' \n"

In [4]:
'''
-- Select all IMDB Movies
SELECT DISTINCT IMDB.Series_Title
FROM IMDB'''
# There are 999 movies in the IMDB database

'\n-- Select all IMDB Movies\nSELECT DISTINCT IMDB.Series_Title\nFROM IMDB'

In [ ]:
'''
-- Select Movies that are in the IMDB & Netflix DISTINCT
SELECT IMDB.Series_Title
FROM IMDB
INNER JOIN Netflix ON IMDB.Series_Title = Netflix.title
'''
# There are only 172 movies that are in both databases

In [ ]:
'''-- Check if there are any differences between IDMB Genre column and Netflix listed_in column
SELECT IMDB.Series_Title, IMDB.Genre, Netflix.listed_in
FROM IMDB
INNER JOIN Netflix ON IMDB.Series_Title = Netflix.title
'''
# There are differences between the two columns (for example Action, Adventure vs. Action & Adventure)

**Challenge 2**: Genre column on IMDB DS has slightly different information than listed_in column on Netflix DS.</br>
**Solution**: We will use IMDB Genre column for Movie Genres for now.