# Data Science Project: [Project Title]

**Author**: Samer Eladad

**Entry Date**: 18.02.

### First task: Analyze the Netflix dataset

**Challenge 1**: Not all required information can be found on the Netflix DS
**Solution**: We will use a new DS 'IMDB Movies Dataset' and join on Movie names.

In [3]:
'''
-- Select all Netflix Movies
SELECT Netflix.title
FROM Netflix
WHERE Netflix.type = 'Movie' 
'''
# There are 6131 movies in the Netflix database

"\n-- Select all Netflix Movies\nSELECT Netflix.title\nFROM Netflix\nWHERE Netflix.type = 'Movie' \n"

In [4]:
'''
-- Select all IMDB Movies
SELECT DISTINCT IMDB.Series_Title
FROM IMDB'''
# There are 999 movies in the IMDB database

'\n-- Select all IMDB Movies\nSELECT DISTINCT IMDB.Series_Title\nFROM IMDB'

In [ ]:
'''
-- Select Movies that are in the IMDB & Netflix DISTINCT
SELECT IMDB.Series_Title
FROM IMDB
INNER JOIN Netflix ON IMDB.Series_Title = Netflix.title
'''
# There are only 172 movies that are in both databases

In [ ]:
'''-- Check if there are any differences between IDMB Genre column and Netflix listed_in column
SELECT IMDB.Series_Title, IMDB.Genre, Netflix.listed_in
FROM IMDB
INNER JOIN Netflix ON IMDB.Series_Title = Netflix.title
'''
# There are differences between the two columns (for example Action, Adventure vs. Action & Adventure)

**Challenge 2**: Genre column on IMDB DS has slightly different information than listed_in column on Netflix DS.
**Solution**: We will use IMDB Genre column for Movie Genres for now.